.htron-theme-header {
    min-height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    .site-title {
        a {
            transition: $transition-base;
            color: var(--secondary);
        }
        a:hover {
            text-decoration: none;
            color: var(--info);
        }
    }
}
.htron-theme-header-menu {
    a.nav-link {
        color: var(--secondary);
        text-transform: uppercase;
        font-size: 0.9rem;
        position: relative;
        &:hover {
            text-decoration: none;
            color: var(--info);
        }
    }
}
