.htron-theme-sidebar{
    ul {
        padding-left: 1rem;
        li {
            font-size: 1rem;
            padding-left: 0.3rem;
            a{
                color: var(--blue);
            }
        }
    }
}